<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E Commerce Web Site</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='img/hmlogo.png') }}" alt="Logo" style="height: 70px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="#">Kadın</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Erkek</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Bebek</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Çocuk</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <a class="nav-link" href="#">Oturum aç</a>
            </li>
            <li class="nav-item">
            <a class="nav-link header-icons">
                <i class="fa fa-heart"></i>
            </a>
            </li>
        
                <li class="nav-item">
                    
                    <div class="d-flex justify-content-end align-items-center mb-3">
                        <input class="form-control mr-2 search-box" type="search" placeholder="Ürün ara" aria-label="Search">
                      
                        <div class="dropdown" id="sort-order">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sıralama
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <button class="dropdown-item" onclick="updateSortOrder('asc')">Fiyata Göre Artan</button>
                                <button class="dropdown-item" onclick="updateSortOrder('desc')">Fiyata Göre Azalan</button>
                            </div>
                        </div>
                    </div>
                </li>
        </ul>
        </div>
    </div>
    </nav>
    </br>
    
    <div id="search-results">
        <div id="category-panel" style="float: left; width: 20%; padding-right: 20px;">
         
        </div>
        <div id="products-panel" style="float: left; width: 80%;">
         
        </div>
    </div>

    <div class="banner-section">
        <img src="{{ url_for('static', filename='img/mainfinal.jpg') }}" alt="Modern Sahil Koleksiyonu" class="banner-image">
        <div class="banner-content">
            <h2 class="banner-title">Modern sahil koleksiyonu</h2>
            <p class="banner-text">Şimdi satın al</p>
            <button class="banner-btn">Keşfet</button>
        </div>
    </div>

    </br>

  

    <div class="container">
        <h3 class="fa226d af6753">Yeni Ürünler</h3>
    </div>
    
    </br>

    <div class="container">
        <div id="categories-container">
            
        </div>

        
        </br>
        
        <div id="products-container" >
            
        </div>
    </div>

    </br>
 
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-12">
                    <a href="/" class="footer-logo">
                        <img src="{{ url_for('static', filename='img/hmlogo.png') }}" alt="Logo" style="height: 70px;">
                    </a>
                </div>
                </br></br></br></br>
                <div class="col-md-4 text-center">
                    <h5>ONLINE ALIŞVERİŞ</h5>
                    <ul>
                        <li><a href="#">Kadın</a></li>
                        <li><a href="#">Erkek</a></li>
                        <li><a href="#">Bebek</a></li>
                        <li><a href="#">Çocuk</a></li>
                    </ul>
                </div>
                <div class="col-md-4 text-center">
                    <h5>KURUMSAL BİLGİLER</h5>
                    <ul>
                        <li><a href="#">H&M'de Kariyer</a></li>
                        <li><a href="#">H&M Grubu Hakkında</a></li>
                        <li><a href="#">Sürdürülebilirlik</a></li>
                    </ul>
                </div>
                <div class="col-md-4 text-center">
                    <h5>YARDIM</h5>
                    <ul>
                        <li><a href="#">Müşteri Hizmetleri</a></li>
                        <li><a href="#">Hesabım</a></li>
                        <li><a href="#">Mağaza Bul</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    

    <script src="static/script.js"></script>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.9/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
